<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="admin">
		<label for="text">Enter a valid username to delete that users account</label> <br> <br>
        <label for="username">Username:</label>
        <input id="username" type="text" value="" placeholder="Username">

        <input id="deleteButton" type="button" value="Delete" >
        <p id="responseMessage"></p> <br>
        <p>usernames:</p> <br>
        <p id="usernameList"></p>
        </div>
        <script src="js/admin.js"></script>
</body>
	
</html>