<!DOCTYPE html>
<html>
  <head>
    <title>éblet Go</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="login">
      <h1><a href="/">éblet</a></h1>
        <label for="username">Username:</label>
        <input class="formInput" id="username" type="text" value="" placeholder="Username">
        <br>
        <label for="password">Password:</label>
        <input class="formInput" id="password" type="password" name="username" value="" placeholder="Password">
        <br>
        <label for="password">New Password:</label>
        <input class="formInput" id="newPass" type="password" name="username" value="" placeholder="New Password">
        <br>
        <input id="changePassButton" type="button" value="Change Password" >
        <p id="errorMessage"></p>
        </div>
    <script src="js/changePass.js"></script>
  </body>
</html>