<!DOCTYPE html>
<!--   -->
<html>
  <head>
    <title>Ajax</title>
    <meta charset="utf-8"/>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/addItem.css">
  </head>

  <body>
    <div class="intro">
      <h2>Item Submission</h2>
    </div>
    <div class="form">
      <form
      action="fileupload"
      method="post"
      enctype="multipart/form-data">
      <input type="text" id="name" maxlength="20" placeholder="Enter a name" name='name'>
      <br>
      <input type="number" name="price" required max="1000000000" maxlength="7" id='price' placeholder="Enter a price" min='0'>
      <br>
      <input id="fileStuff" type="file" required name="filetoupload">
      <label for="fileStuff" id="fileSuffLabel">Choose an image</label>
      <textarea id="description" name="description" placeholder="Enter Description" maxlength="2000"></textarea>
      <img src="" id="img" alt="img">
      <input type="submit" id="submit">
      <label for="submit" id="submitLabel"> Submit</label>
      </form>
    </div>

  <script src="js/newItem.js"></script>


  </body>
</html>
